<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/typo.css" />
    <link rel="stylesheet" type="text/css" href="/css/peter.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://happypeter.github.io/favicon.ico"
    />
    <title>{{ page.title }}</title>
  </head>
  <div id="navbar">
    <a href="http://happypeter.github.com/index.html">HOME</a> &nbsp;
    <a href="http://happypeter.github.com/work/">WORK</a>
  </div>
  <div id="wrapper" class="typo">
    <h1 style="text-align: center; margin-bottom: 0;">{{ page.title }}</h1>
    <br />
    {{ content }}
    <br />
    <blockquote>
      欢迎所有朋友加我微信：happypeter1983
    </blockquote>
  </div>
</html>
